@if (qualityIndex===1) {
    <span i18n="Air quality index excelent title">Excelent</span>
} @else if (qualityIndex===2) {
    <span i18n="Air quality index good title">Good</span>
} @else if (qualityIndex===3) {
    <span i18n="Air quality index normal title">Normal</span>
} @else if (qualityIndex===4) {
    <span i18n="Air quality index bad title">Bad</span>
} @else if (qualityIndex===5) {
    <span i18n="Air quality index dangerous title">Dangerous</span>
} @else {
    <span i18n="Air quality index unavailable title">N/A</span>
}
