<div class="card">
    <div class="card-header">
      Actual Weather Information
    </div>
    <div class="=card-body">
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title text-primary major-data_title border-bottom border-primary">Indoor</div>
                        <div class="position-absolute major-data_label">Temperature</div>
                        <div class="major-data text-end" [@changeNumberAnimation]="currentInfo?.storedData?.temperatureInternal">{{ currentInfo?.storedData?.temperatureInternal | number:'1.0-1' }}<span class="major-data_unit">C</span></div>
                        <div class="position-absolute major-data_label">Humidity</div>
                        <div class="major-data text-end" [@changeNumberAnimation]="currentInfo?.storedData?.humidityInternal">{{ currentInfo?.storedData?.humidityInternal | number:'1.0-1' }}<span class="major-data_unit">%</span></div>
                        <date-axis-chart type="line" [data]="latestIndoorTemperatureData" [labels]="dataTimestampLabels" routerLink="../temperature-details/inner"></date-axis-chart>
                        <div class="border-bottom border-secondary"></div>
                        <div class="position-absolute major-data_label">Equivalent CO2</div>
                        <div class="major-data text-end" [@changeNumberAnimation]="currentInfo?.storedData?.eco2Internal">{{ currentInfo?.storedData?.eco2Internal | number:'1.0-1' }}<span class="major-data_unit">Ppm</span></div>
                        <div class="position-absolute major-data_label">Air Quality</div>
                        <div class="major-text-data text-end" [@changeNumberAnimation]="currentInfo?.storedData?.airQualityInternal">
                            <air-quality [qualityIndex]="currentInfo?.storedData?.airQualityInternal ?? 0" [airQuality]="currentInfo?.storedData?.airQualityInternal ?? 0"></air-quality>
                        </div>
                        <div class="text-end">{{ currentInfo?.storedData?.airQualityInternal | number:'1.0-1' }}</div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-title text-primary major-data_title border-bottom border-primary">Outdoor</div>
                                <div class="position-absolute major-data_label">Temperature</div>
                                <div class="major-data text-end" [@changeNumberAnimation]="currentInfo?.storedData?.temperatureExternal">{{ currentInfo?.storedData?.temperatureExternal | number:'1.0-1' }}<span class="major-data_unit">C</span></div>
                                <div class="position-absolute major-data_label">Humidity</div>
                                <div class="major-data text-end" [@changeNumberAnimation]="currentInfo?.storedData?.humidityExternal">{{ currentInfo?.storedData?.humidityExternal | number:'1.0-1' }}<span class="major-data_unit">%</span></div>
                                <date-axis-chart type="line" [data]="latestOutdoorTemperatureData" [labels]="dataTimestampLabels" routerLink="../temperature-details/outer"></date-axis-chart>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-title text-primary major-data_title border-bottom border-primary">Pressure</div>
                                <div class="position-absolute major-data_label">Millimetre of Hg</div>
                                <div class="major-data text-end" [@changeNumberAnimation]="currentInfo?.storedData?.pressureMmHg">{{ currentInfo?.storedData?.pressureMmHg | number:'1.0-1' }}</div>
                                <div>Normal pressure: 760 mmHg</div>
                                <div class="position-absolute major-data_label">Kilopascal</div>
                                <div class="major-data text-end" [@changeNumberAnimation]="currentInfo?.storedData?.pressurePa">{{ ((currentInfo?.storedData?.pressurePa ?? 0) / 1000) | number:'1.0-1' }}</div>
                                <div>Normal pressure: 101.3 Kilopascal</div>
                                <date-axis-chart type="line" [data]="latestPressureData" [labels]="dataTimestampLabels" routerLink="../pressure-details"></date-axis-chart>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <span class="mx-1">Device Id:</span><span class="mx-2">{{ currentInfo?.deviceId }}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-end">
                        <span class="mx-1">Obtained at:</span><span class="mx-2">{{ currentInfo?.recordTimestamp | dateFormatting:'full' }}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-end">
                        <button class="btn btn-outline-secondary" routerLink="../history">Explore history</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  