<div class="row">
    <div class="col-10"></div>
    <div class="col-2 text-end"><button class="btn btn-outline-secondary" routerLink="../actual"><< Back to actual</button></div>
</div>
<div class="row">
    <div class="col-12">
        <filter-panel title="Request temperature data">
            <form class="row row-cols-auto">
                <span class="row col-8"><span class="col-2"><label for="fromDuration" class="col-form-label">For the last:</label></span><span class="col-10">
                    <select id="fromDuration" class="form-select" [(ngModel)]="periodDuration" name="fromDuration">
                        <option [ngValue]="1">1 day</option>
                        <option [ngValue]="3">3 days</option>
                        <option [ngValue]="7">Week</option>
                        <option [ngValue]="14">2 Weeks</option>
                    </select>
                </span></span>
                <span class="col-4"><input type="button" (click)="onDataRequest()" value="Request" [disabled]="working" class="btn btn-primary"/></span>
            </form>
        </filter-panel>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <filter-panel title="Aggregate data">
            <form class="row row-cols auto">
                <span class="row col-8"><span class="col-2"><label for="aggregatePeriod" class="col-form-label">Aggregate:</label></span><span class="col-10">
                    <select id="aggregatePeriod" class="form-select" [(ngModel)]="aggregateHours" name="aggregatePeriod">
                        <option [ngValue]="0">None</option>
                        <option [ngValue]="1">1 hour</option>
                        <option [ngValue]="6">6 hours</option>
                        <option [ngValue]="24">1 day</option>
                    </select>
                </span></span>                    
            </form>
        </filter-panel>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <date-axis-chart [type]="'line'" [data]="chartData" [labels]="commonLabels"></date-axis-chart>
    </div>
</div>