<table class="table table-bordered table-striped" [class.block-busy]="actionInProgress">
    <thead>
        <tr>
            <th>Device Id</th>
            <th>Timestamp</th>
            <th>Internal Temperature (C)</th>
            <th>Internal Humidity (%)</th>
            <th>External Temperature (C)</th>
            <th>External Humidity (%)</th>
            <th>CO2 Level (Ppm)</th>
            <th>Air Quality Index</th>
            <th>Pressure (mm Hg)</th>
        </tr>
    </thead>
    <tbody class="table-group-divider1 table-bordered1">
        @for (meteoRow of historyRows; track meteoRow.deviceId + '_' + meteoRow.recordTimestamp) {
            <tr history-item #meteoRowElement [item]="meteoRow" (chosen)="onChosen(meteoRow)"></tr>
        } @empty {
        <tr>
            <td colspan="9" class="emptyCell">Please select a history period and hit the "Request" button to get data.</td>
        </tr>
        }
    </tbody>
</table>
<!--canvas baseChart type="line" [data]="chartData"></canvas-->