<div class="row">
    <div class="col-12 text-end">
        <span class="mx-1 switch-label" (click)="setTableView(true)" i18n="Table switch label on history search">Table</span>
        <div class="form-switch form-check-inline">
            <input id="historyDataViewType" class="form-check-input" type="checkbox" role="switch" [ngModel]="!isTableShown" />
        </div>
        <span class="switch-label" (click)="setTableView(false)" i18n="Chart switch label on history search">Chart</span>
    </div>
</div>
@if (isTableShown) {
<history-list [historyRows]="historyRows" [actionInProgress]="actionInProgress"></history-list>
} @else {
<history-chart [historyRows]="historyRows"></history-chart>
}
