<div class="card">
  <div class="card-header">
    Actual Weather Information
  </div>
  <div class="=card-body">
    <div class="row">
      <div class="col-6">
        <span class="mx-1">Device Id:</span><span class="mx-2">{{ currentInfo?.deviceId }}</span>
      </div>
      <div class="col-6 text-end">
        <span class="mx-1">Obtained on:</span><span class="mx-2">{{ currentInfo?.recordTimestamp | dateFormatting:'full' }}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <span class="mx-1">Indoor temperature:</span><span class="mx-2">{{ currentInfo?.storedData?.temperatureInternal | number:'1.0-1' }} C</span>
      </div>
      <div class="col-4">
        <span class="mx-1">Indoor humidity:</span><span class="mx-2">{{ currentInfo?.storedData?.humidityInternal | number:'1.0-1' }} %</span>
      </div>
      <div class="col-4">
        <span class="mx-1">Pressure:</span><span class="mx-2">{{ currentInfo?.storedData?.pressureMmHg | number:'1.0-1' }} mm Hg</span>
      </div>
    </div>
  </div>
</div>
<button (click)="connectWebSocket()">Connect to WS</button><button (click)="disconnectWebSocket()">Disconnect</button>
<filter-panel title1="Search in history measures">
  <form class="row row-cols-auto">
    <span class="row col-4"><span class="col-2"><label for="fromDate" class="col-form-label">From:</label></span><span class="col-10"><date-control labeledId="fromDate" [(value)]="fromDateFilter"></date-control></span></span>
    <span class="row col-4"><span class="col-2"><label for="toDate" class="col-form-label">To:</label></span><span class="col-10"><date-control labeledId="toDate" [(value)]="toDateFilter"></date-control></span></span>
    <span class="col-4"><input type="button" (click)="onSearch()" value="Request" [disabled]="!(fromDateFilter || toDateFilter) || isSearchOperationActive" class="btn btn-primary"/></span>
  </form>
</filter-panel>
<history-list #historyList (changeSearchStatus)="onChangeHistorySearch($event)"></history-list>

<router-outlet />
